.longword{
    background-color: rgb(132, 132, 236);
}

.words{
    background-color: yellow;
}
.error{
    color: red;
    font-weight:500;
}

body{
    background-color: #ffeef2;
    text-align: center;   
}

.checkbox {width: 29px; height: 29px;}